.leaflet-container {
  height: 550px;
  width: auto;
  border: 4px solid white;
}

.info-icon {
  justify-content: center;
  text-align: left;
}

.refresh-trails {
  text-align: left;
}

.drawing-controls {
  text-align: right;
}