
#homepageBackground {
	background: url(https://images.unsplash.com/photo-1443996104801-80c82e789b18?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1053&q=80);
	/* background-repeat: no-repeat; */
	height: 750px;
	min-width: 100%;
	background-size: cover;
	background-position: center;
	text-align: center;
}
#mainHeading {
	color:	rgba(255,255,255,0.8);
}
#map {
    height: 300px;
}
#homeCenter {
    padding-top: 22%;
}
hr {
    width: 400px;
}
#mainQuestion {
    color:	rgba(200,200,255,0.8);
}
