body, html {
	height: 100%;
	background: linear-gradient(rgb(0,0,0,0.0),rgb(0,0,0,0.0)),url(https://i.pinimg.com/originals/fd/99/71/fd9971db91f503f842cdd98d808ade11.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
#text {
	background-color: rgba(255, 255, 255, 0.6);
	background-size: 150px;
	text-align: center;
	width: 400px;
	height: 100px;
	padding: 20px;
	position: absolute;
	top: 40%;
	left: 35%;
	
}
h3 {
	font-family: Arial;
}
input[type="text"] {
	font-family: Arial;	
}
#heading {
	text-align: center;
	color:	rgba(255,255,255,0.8);
	font-family: Arial;
	top: 10%;
}
#map {
    height: 300px;
}
