{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
	<div class="container" id="homepageBackground">
		<div id="homeCenter">
			<div class="row align-items-center">
				<div class="col-lg-6 offset-lg-3">
					<h1 class="display-4" id="mainHeading">Plan your next adventure</h1>
					<h1 id="mainQuestion">Where to?</h1>
					<hr id="homepageLine">
					<div class="form-group">
						<input class="form-control" type="text" name="location" placeholder="Nederland, CO">
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
