{% extends "base.html" %}
{% block title %}How it works{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
    <div class="container" id="howItWorksContent">
        <div class="jumbotron" id="howItWorksJumbo">
            <h2>How Eldora works</h2>
            <p>Eldora makes trip planning easier. Eldora recommends routes, analyzes risk and makes informed packing recommendations for your adventures.</p>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12">
                    <img src="https://images.unsplash.com/photo-1560842643-a17c802139d4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="img-thumbnail">
                <h4>Recommending Routes</h4>
                <p>Eldora recommends hiking, cycling or runner routes, based on where you'd like to go and what kind of experience you're looking for.</p>
            </div>
            <div class="col-md-4 col-sm-12">
                    <img src="https://images.unsplash.com/photo-1534852654286-120d822937f7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="img-thumbnail">
                <h4>Analyzing Risk</h4>
                <p>Think about the risks you analyze when preparing for a trip: what's a reasonable worst-case weather scenario? Will I lose cell service (and in which parts of the trip)? Where are my water sources? Where is the snowline? Eldora analyzes those risks for you.</p>
            </div>
            <div class="col-md-4 col-sm-12">
                    <img src="https://images.unsplash.com/photo-1503220317375-aaad61436b1b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="img-thumbnail">
                <h4>Packing recommendations</h4>
                <p>After Eldora analyzes the risks associated with your route, we make informed packing suggestions to help you have a safe, less stressful trip.</p>
            </div>
        </div>
    </div>
{% endblock %}
